.container{
    background-color: rgb(188, 188, 188);
    text-align: center;
    margin: 10px auto;
    justify-content: center;
    align-content: center;
    
    min-width: 300px;
    max-width: 300px;
    padding: 10px;
    
}

h2{
    margin: 0;
    color: blue;
}

.fuck{
    color: rgb(4, 237, 35);
}

